.card {
    height: 180px;
    width: 200px;
    margin: 4px;
    border-radius: 5px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;

    &-top {
        height: 100px;

        >img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &-bottom {
        padding: 4px;
        text-align: center;

        >h4 {
            height: 16px;
            text-overflow: ellipsis;
            text-align: center;
            -webkit-line-clamp: 3;
            -webkit-box-orient: horizontal;
            overflow: hidden;
        }

        >p {
            text-align: center;
            -webkit-line-clamp: 3;
            -webkit-box-orient: horizontal;
            text-overflow: ellipsis;
            height: 46px;
            width: 100%;
            white-space: pre;
            position: relative;
            font-size: 14px;
            height: 3em;
            overflow: hidden;
            margin-bottom: 0;

            &:after {
                content: "";
                text-align: right;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 50%;
                height: 1.2em;
                background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
            }
        }

        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
    }
}